.horario-grande {
  position: relative;
  flex: 0 0 auto;
  border: none;
  border-radius: 6px;
  width: 246px;
  height: 128px;
  color: #FFF;
  padding: 8px;
  margin: 1rem;
  transition: box-shadow 0.3s ease-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px 0px;
}

.horario-grande:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 18px 0px;
  transition: all 0.3s ease-in;
}

.background-anglo-ru {
  background-image: linear-gradient(to right, #0a0fad, #1bffff);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0a0fad), to(#1bffff));
}

.background-anglo-med {
  background-image: linear-gradient(to bottom right, #D4145A, #FBB03B);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#D4145A), to(#FBB03B));
}

.background-anglo-esef {
  background-image: linear-gradient(to bottom right, #009245, #FCEE21);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#009245), to(#FCEE21));
}

.background-anglo-capao {
  background-image: linear-gradient(to bottom right, #312A6C, #852D91);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#312A6C), to(#852D91));
}

.background-capao-anglo {
  background-image: linear-gradient(to bottom right, #3A3897, #A3A1FF);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3A3897), to(#A3A1FF));
}

.background-white {
  background-color: #FFF;
}

.horario-grande__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.horario-grande__header--linha {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.7)
}

.horario-grande__header--observacao {
  font-size: 14px;
  font-weight: 900;
}

.horario-grande__horario-container {
  isolation: isolate;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.horario-grande__horario-container--horario {
  height: 100%;
  font-size: 68px;
  font-weight: bold;
}