body {
  height: 100%;
}

.main-container {
  isolation: isolate;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  /* background-image: linear-gradient(#808080, #E6E6E6); */
  background-color: whitesmoke;
}