.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 32px 0px;
}

.header__title {

}

.header__dropdown-icon {

}