.horario-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 18px 0px;
  background-color: none;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  border-radius: 6px;
  
  transition: all 0.3s;
}

.horario-card:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 6px 0px;
  background-color: #DDD;
  transition: all 0.3s;
}

.horario-card__horario{
  font-weight: bold;
  font-size: 1.1rem;
  color: black;
  margin: 12px;
}

.horario-card__obs {
  color: crimson;
  font-size: 1.1rem;
  margin: 12px;
}